{% extends 'home/base.html' %}
{% load staticfiles %}
{% block title %}{{ article.title }}{% endblock %}





{% block banner_bar %}
    <div class="banner-bar">
        <div class="container">
            <div class="col-12 columns">
                <div class="place">
                    <a href="/">首页</a>
                    &raquo;

                    {{ article.category.name }} &raquo; <a href="/article/{{ article.pk }}/">{{ article.title }}</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block mainbody %}
    <div class="col-11 columns" id="mainbody" role="main">
        <div class="post-single type-post">
            <h1 class="article-h1">{{ article.title }}</h1>
            <div class="details-up">
                <span class="author">作者: {{ article.author }}</span>

                <span class="category">分类: <a href="/sort/SHARE">{{ article.category.name }}</a></span>

                <span class="date">时间: {{ article.created_time }}</span>
                <span class="comments-top" itemprop="interactionCount">评论：<a itemprop="discussionUrl"
                                                                             href="/SHARE/xray-introduce.html#reply-list">0条评论</a></span>
                <span class="comments-top" itemprop="interactionCount">浏览：<a itemprop="discussionUrl"
                                                                             href="/SHARE/xray-introduce.html">{{ article.views }}人看过</a></span>

                <span class="date">标签:
                    {% for tag in article.tags.all %}
                        <a href="/tag/xray">{{ tag.name }}</a>
                    {% endfor %}
  </span>

            </div>
            <div class="entry">
                {{ article.body }}
            </div>
            <div itemprop="keywords" class="tags-meta">
                标签:
                {% for tag in article.tags.all %}
                    <a href="/tag/xray">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <br>
            <!--MOB SHARE BEGIN-->
            <div class="-mob-share-ui-button -mob-share-open">分享</div>
            <div class="-mob-share-ui" style="display: none">
                <ul class="-mob-share-list">
                    <li class="-mob-share-weibo"><p>新浪微博</p></li>
                    <li class="-mob-share-qzone"><p>QQ空间</p></li>
                    <li class="-mob-share-qq"><p>QQ好友</p></li>
                    <li class="-mob-share-weixin"><p>微信</p></li>
                    <li class="-mob-share-douban"><p>豆瓣</p></li>
                    <li class="-mob-share-facebook"><p>Facebook</p></li>
                    <li class="-mob-share-twitter"><p>Twitter</p></li>
                    <li class="-mob-share-pocket"><p>Pocket</p></li>
                    <li class="-mob-share-google"><p>Google+</p></li>
                    <li class="-mob-share-youdao"><p>有道云笔记</p></li>
                    <li class="-mob-share-mingdao"><p>明道</p></li>
                    <li class="-mob-share-tumblr"><p>Tumblr</p></li>
                    <li class="-mob-share-instapaper"><p>Instapaper</p></li>
                    <li class="-mob-share-linkedin"><p>LinkedIn</p></li>
                </ul>
                <div class="-mob-share-close">取消</div>
            </div>
            <div class="-mob-share-ui-bg"></div>
            <script id="-mob-share" src="{% static 'home/js/mob-share_1.js' %}"></script>
            <!--MOB SHARE END-->

            <div class="qqlist">
                <h3>订阅本站
                    <small>(RSS)</small>
                </h3>
                <form method="post" target="_blank" action="https://list.qq.com/cgi-bin/qf_compose_send">
                    <input type="hidden" value="qf_booked_feedback" name="t"/>
                    <input type="hidden" value="dace5c2b356504de449e7f3fc2bb59f3f6124d6563786446" name="id"/>
                    <input type="text" placeholder="E-mail" value="" class="rsstxt" name="to" id="to"/>
                    <button type="submit">订阅&rarr;</button>
                </form>
            </div>


        </div>
        <div class="post-single type-post text-center">
            <h3 style="margin-top: 0">喜欢这篇文章，扫码和我成为赞友！</h3>
            <img src="{% static 'upload/images/zan_1.jpg' %}" alt="">
        </div>
        <!-- 评论位置 -->
        <div id="comments" class="comments">
            <h3>已有 4 条评论</h3>
            <ol class="comment-list">


                <li class="comment-body" id="comment-3435">
                    <div class="clearfix">
                        <div class="comment-author">
                            <img src="{% static 'upload/images/bf58432148b643a8b4c41c3901b81d1b_1.jpg' %}">
                        </div>
                        <div class="comment-meta">
                            <div class="fn"><a href="" target="_blank" rel="nofollow noopener">test</a></div>
                            <p>谢谢大佬分享</p>
                            <span class="comment-time">时间: 2019-11-07 19:49</span>
                            <span class="comment-reply"><a href="#comment-3435"
                                                           onclick="reply_to('3435','test')">回复</a></span>
                        </div>
                    </div>
                </li>

                <li class="comment-body" id="comment-3429">
                    <div class="clearfix">
                        <div class="comment-author">
                            <img src="{% static 'upload/images/d41d8cd98f00b204e9800998ecf8427e_1.jpg' %}">
                        </div>
                        <div class="comment-meta">
                            <div class="fn"><a href="" target="_blank" rel="nofollow noopener">test</a></div>
                            <p>上PPT了</p>
                            <span class="comment-time">时间: 2019-10-22 11:38</span>
                            <span class="comment-reply"><a href="#comment-3429"
                                                           onclick="reply_to('3429','test')">回复</a></span>
                        </div>
                    </div>
                </li>

                <li class="comment-body" id="comment-3430">
                    <div class="clearfix">
                        <div class="comment-author">
                            <img src="{% static 'upload/images/d41d8cd98f00b204e9800998ecf8427e_1.jpg' %}">
                        </div>
                        <div class="comment-meta">
                            <div class="fn"><a href="" target="_blank" rel="nofollow noopener">tset</a></div>
                            <p>@test 代大佬牛批</p>
                            <span class="comment-time">时间: 2019-10-22 16:00</span>
                            <span class="comment-reply"><a href="#comment-3430"
                                                           onclick="reply_to('3430','tset')">回复</a></span>
                        </div>
                    </div>
                </li>

                <li class="comment-body" id="comment-3431">
                    <div class="clearfix">
                        <div class="comment-author">
                            <img src="{% static 'upload/images/d41d8cd98f00b204e9800998ecf8427e_1.jpg' %}">
                        </div>
                        <div class="comment-meta">
                            <div class="fn"><a href="" target="_blank" rel="nofollow noopener">Demons</a></div>
                            <p>@tset 代大佬牛逼</p>
                            <span class="comment-time">时间: 2019-10-26 22:10</span>
                            <span class="comment-reply"><a href="#comment-3431"
                                                           onclick="reply_to('3431','Demons')">回复</a></span>
                        </div>
                    </div>
                </li>


            </ol>

        </div>

        <div id="reply"></div>
        <div id="comment-place">
            <div id="comment-post" class="respond none-resize">
                <div id="respond">
                    <h3 id="response">添加新评论</h3>
                    <form method="post" id="comment-form" role="form" action="#comments">
                        <p>
                            <label for="author" class="required">称呼</label>
                            <input type="text" name="nickname" placeholder="昵称" maxlength="64" required
                                   id="id_nickname">
                        </p>
                        <p>
                            <label for="mail">Email</label>
                            <input type="text" name="email" placeholder="邮箱（可留空）" maxlength="254" id="id_email">
                        </p>
                        <p>
                            <label for="url">网站</label>
                            <input type="text" name="url" placeholder="链接（可留空）" maxlength="200" id="id_url">
                        </p>
                        <p>
                            <label for="textarea" class="required">内容</label>
                            <textarea name="content" cols="40" rows="6" required id="id_content">
</textarea>
                        </p>
                        <p>
                            <label style="float:left;">验证码</label>
                        <div class="row" style="margin-top: 8px">
                            <div class="col-xs-4"><input autocomplete="off" id="id_captcha_1" name="captcha_1"
                                                         type="text" placeholder="验证码"/> <input id="id_captcha_0"
                                                                                                name="captcha_0"
                                                                                                type="hidden"
                                                                                                value="0bde1d3ca93a899bb80145bcfc4147fd1fa456d3"/>
                            </div>
                            <div class="col-xs-4">
                                <img src="{% static 'upload/images/50dccce6c9ae4930992980e77e5c60b4.gif' %}"
                                     alt="captcha" class="captcha"
                                     height="25"/></div>
                        </div>
                        </p>
                        <p>
                            <button type="submit" class="submit">提交评论</button>
                            <input type="hidden" name="parent" id="id_parent">
                            <input type="hidden" name="archive" value="448" id="id_archive">
                            <input type="hidden" name="csrfmiddlewaretoken"
                                   value="oKQVy2MkZF9sXSIhg3PuTb4N6lH8mhj1NXB90IrqDW7yyKzi4Rfs1Pi2cHW2rfKV">
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}



